# these libs are requested to build common python libs 
# if you are an advance user and are sure to not use them you can comment the following lines
wheel
Cython
pybind11
pre-commit

git+https://github.com/openforis/earthengine-api.git@v0.1.270#egg=earthengine-api&subdirectory=python

# the base lib to run any sepal_ui based app 
# don't forget to fix it to a specific version when you're app is ready
sepal_ui==2.6.2
seaborn==0.11.2
plotly==5.6.0


ipyleaflet<=0.13.3 
click<8,>=4.0 
ipywidgets==7.6.5 # cannot use newer version there are not compatible with voila 3.1.0